body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  width: 1200px;
  }

header {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 2rem;
  margin: 20px 50px;
  text-transform: uppercase;
}

.nav {
  margin: 20px 50px;
}

.nav li {
  display: inline;
  font-size: 1.75rem;
  list-style-type: none;
  margin: 10px;
}

.nav a {
  color: limegreen;
  font-weight: bold;
  text-decoration: none;
}

.summary {
  display: flex;
}

.photo img {
  border-radius: 50%;
  width: 500px;
  margin: 50px;
}

.intro {
  margin: 30px;
  font-size: 1.25rem;
}

.background h3, .skills h3, .contact h3 {
  font-size: 1.5rem;
  margin-bottom: 0px;
  margin-left: 20px;
}

.cards {
  display: flex;
}

.position, .schooling  {
  border: 1px solid black;
  border-radius: 3%;
  box-shadow: 1px 2px grey;
  margin: 40px;
  padding: 10px;
  width: 250px;
}

#job, #school {
  background-color: limegreen;
  border-radius: 3%;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  height: 40px;
  left: -20px;
  margin: 20px 10px;
  padding: 20px;
  position: relative;
  text-transform: uppercase;
}

#workplace, #degree {
  font-size: 1.15rem;
}

#timespan {
  font-size: 1.05rem;
}

.skills img {
  margin: 20px 50px;
  width: 500px;
}

.certifications {
  display: flex;
  flex-direction: column;
  float: right;
  margin: 20px 50px;
  width: 500px;
}

.certifications div {
  border-bottom: 0.25px solid black;
  padding: 10px;
}

.certifications div:last-child {
  border-bottom: none;
}

.certifications h4, p, a {
  margin: 10px;
}

.certifications h4 {
  color: limegreen;
  font-size: 1.5rem;
}

.certifications p {
  font-size: 1.1rem;
  font-weight: bold;
}

.certifications a {
  color: grey;
}

.certifications a:hover {
  color: limegreen;
}

.contact {
  position: relative;
  top: 100px;
  z-index: -1;
}

.logos {
  display: flex;
}

.logos img {
  height: 50px;
  margin: 20px;
  width: 50px;
}

footer {
  background-color: limegreen;
  color: white;
  margin: 20px 0;
  padding: 10px;
}

footer a {
  color: white;
  text-decoration: none;
}
